################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PromotionEngine/v16/Server/sqlite3
/.vs/ProjectPromotionEngine/v16
/ProjectPromotionEngine/.vs/ProjectPromotionEngine/v16
